.back-arrow-icon {
    background: url('../img/back-arrow.svg') no-repeat;
    width: 24px;
    height: 25px;
}

.status-bar {
    background: url('../img/status-bar.svg') no-repeat;
    width: 375px;
    height: 55px;
}

.google-icon {
    background: url('../img/google-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.apple-icon {
    background: url('../img/apple-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.facebook-icon {
    background: url('../img/facebook-icon.svg') no-repeat;
    width: 24px;
    height: 24px;
}