* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: "Inter";
    background-color: #fafafa;
}
.mobile-container {
    width: 375px;
    height: auto;
    padding-bottom: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    .container {
        padding: 0 24px;
    }
}
