$clr-splash-bg: #2853af;

$base-font: "Inter", sans-serif;

$clr-primary-300: #99cdf7;
$clr-primary-400: #69b1f1;
$clr-primary-500: #4593ec;
$clr-primary-600: #3076e0;
$clr-primary-700: #2761ce;
$clr-primary-800: #2853af;

$clr-secondary-50:  #e8f2ff;
$clr-secondary-100: #dbeafe;
$clr-secondary-200: #bfdbfe;
$clr-secondary-300: #93c4fd;
$clr-secondary-400: #60a5fa;
$clr-secondary-500: #3b91f6;

$clr-alert: #effefa;
$clr-alert-25: #ddf2ee;
$clr-alert-50: #9de0d3;

$clr-success-100: #40c4aa;
$clr-success-200: #287f6e;
$clr-success-300: #174e43;

$clr-error-100: #df1c41;
$clr-error-200: #95122b;
$clr-error-300: #710e21;

$font-weight-semibold: 700;
$font-weight-medium:   600;
$font-weight-regular:  500;

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;

$lg-font-size: 18px;
$md-font-size: 16px;
$sm-font-size: 14px;
$xs-font-size: 12px;